@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins-Regular.ttf') format('truetype');
    /* Add more src lines for different font formats if available */
    font-weight: normal;
    font-style: normal;
}
